@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700|Poppins:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}
body a,
body button {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
body a:hover {
  text-decoration: none;
  color: unset;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rows {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
main {
  flex-grow: 1;
}
.alert {
  padding: 1rem;
  border: 0.5rem solid transparent;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.alert-info {
  color: #2020a0;
  background-color: #ebebeb;
  text-align: center;
}
.alert-success {
  color: #549400;
  background-color: #eaf5eb;
  text-align: center;
}
.alert-danger {
  color: rgb(165, 14, 14);
  background-color: #f3e6e6;
  text-align: center;
}
.hrizontalLine {
  width: 40%;
  height: 3px;
  background-color: #046fc7;
  margin-top: 6%;
}
.diff {
  width: 50%;
  background-color: orange;
}

/*--------------------------HEADER-------------------------------*/
.container-header {
  min-width: 100%;
  background-color: #162a35;
}
header {
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
}
.header-white {
  background-color: white;
}
.header-black {
  background-color: #001517;
}
.header-black .menu a {
  color: white;
}
.nav {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav2 {
  width: 40%;
  padding: 0px 77px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.menu {
  width: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
}
.nav1 a img {
  width: 40%;
  -o-object-fit: contain;
  object-fit: contain;
}
.menu a {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.menu:hover a {
  color: orange;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
/*-------------------------HEADER END----------------------------*/

/* FOOTER */
footer {
  width: 100%;
  padding-bottom: 5%;
  background-color: #162a35;
}
.footerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footerLogo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footerLogo img {
  width: 70%;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}
.footerNav,
.footerMedias {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2%;
}
.footerNav p a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
}
.footerMedias {
  width: 27%;
  margin-bottom: 3%;
}
.footerMedia {
  width: 40px;
  height: 40px;
  background-color: blanchedalmond;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footerMedia a {
  color: rgb(22, 22, 22);
}
.footerContainer span {
  color: rgb(255, 255, 255);
  font-weight: 100;
}
/*-------------------------FOOTER END----------------------------*/

/*---------------------------------------------------------*/
/* EXPERIANCE                                */
/*---------------------------------------------------------*/
.section {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tab {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 54%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
a.nav-item.nav-link {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3.2% 10.5%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
  background-color: #001517;
  color: white;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
a.nav-item.nav-link:hover {
  background-color: #03393f;
}
a.nav-item.nav-link.active {
  background-color: #03393f;
}

.tabcontent {
  width: 80%;
  margin-top: 5%;
  text-align: center;
}

.section .sectionBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  margin-top: 4%;
}
.section .sectionBox:hover {
  -webkit-box-shadow: 0 0 16px 0 rgba(230, 230, 230, 1);
  box-shadow: 0 0 16px 0 rgba(230, 230, 230, 1);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.section .sectionImage {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f4f4f4;
  margin-bottom: 10%;
}

.section .sectionImage img {
  width: 100%;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}

.section .sectionWords {
  width: 100%;
}

.section .sectionWords h4 {
  margin-bottom: 4%;
  color: #001517;
  font-size: 15px;
  font-weight: bold;
}

.section .sectionWords p,
.section .sectionWords ul li {
  margin-top: 1%;
  font-weight: 300;
}

.section .sectionWords ul li {
  padding: 0;
  margin: 0;
  text-align: start;
  font-family: "Josefin Sans", sans-serif;
}

/*---------------------------------------------------------*/
/* EXPERIANCE  END                                */
/*---------------------------------------------------------*/

/* -------------------------BANNER-------------------------- */
.Mainbackground {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: -10px;
}
.topBackground {
  width: 100%;
  height: 300px;
  background-color: #162a35;
}
svg {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  height: 100%;
  margin-top: -2%;
}

.fluids {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* SCREEN */
.screenWords {
  width: 100%;
  padding-top: 20%;
}
.screenWords h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2%;
  color: white;
}
.screenWords p {
  padding-right: 25%;
  font-size: 18px;
  color: rgb(179, 179, 179);
  margin-top: 7%;
}
.twoMainButton {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10%;
}
.buttonMain a {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  font-weight: 300;
}
.screenImage {
  width: 100%;
}
.screenImage img {
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
  object-fit: contain;
}
/* -------------------------BANNER END-------------------------- */
